*.class

*.log

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.iml
.idea/

**/out/

.idea_modules/
.idea/replstate.xml

hs_err_pid*

.gradle
**/build/

!gradlew
!gradlew.bat
!gradle-wrapper.jar

.gradletasknamecache